{:duct.core/project-ns todomvc
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {:database-url #duct/env ["DB_URL" Str]}
 :duct.module/cljs {:main todomvc.client}
 
 :duct.router/cascading
 [#ig/ref :todomvc.handler/api]

 :todomvc.handler/api
 {:db #ig/ref :duct.database/sql}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :todomvc.migration/add-tasks]}

 [:duct.migrator.ragtime/sql :todomvc.migration/add-tasks]
 {:up [#duct/resource "todomvc/migrations/001-add-tasks.up.sql"]
  :down [#duct/resource "todomvc/migrations/001-add-tasks.down.sql"]}}
